@import '~mixins.scss';
@import '~colors.scss';

.checkButton {
    position: relative;
    width: 44px;
    height: 44px;
    border: 3px solid $primary-medium;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        @include clickButton();
    }

    &[data-state="checked"] {
        background-color: $primary-medium;

        &:hover {
            opacity: 0.8;
        }
    }
}