@import '~colors.scss';

.addNewButton {
    display: block;
    color: $white;
    border: 0;
    border-radius: 16px;
    background-color: $dark;
    font-size: 2rem;
    width: 64px;
    height: 64px;
    transition: background-color 0.1s ease;
    margin-left: auto;

    cursor: pointer;

    &:hover {
        background-color: $medium-dark;
    }

    &:active {
        background-color: $lightest-dark;
    }
}